@page "/"
@using BlazorMultytenantDemo.Data
@using Microsoft.AspNetCore.Http
@using System.Security.Claims

@inject IHttpContextAccessor _httpContextAccessor
@inject DbController service

@code {
    List<Org> Orgs = new List<Org>();
    List<User> Users = new List<User>();
    List<Relation> Relations = new List<Relation>();
    string UserEmail = "";
    string OtherUserEmail = "";


    protected override async Task OnInitializedAsync()
    {

        // TODO: move into sane service
        // TODO: catch!
        var email = _httpContextAccessor.HttpContext.User
            .FindFirstValue(ClaimTypes.Email);
        if (email != null)
        {
            UserEmail = email;
        }
        await Refresh();

    }

    private async Task Refresh()
    {
        Relations = await service.GetRelationsAsync();

        if (UserEmail != "")
        {
                Orgs = await service.GetUserOrgs(UserEmail);


            if (_updateOrg == null)
            {
                _updateOrg = Orgs.First(org => org.AdminName == UserEmail);
            }

            Users = await service.GetOrgUsersAsync(_updateOrg);
        }
    }

    public Org _updateOrg = new Org();


    private async Task OrgSelected(Org org)
    {
        _updateOrg = org;
        await Refresh();
    }


    private async Task AddUserToMyOrg(string queryUser)
    {
        var usr = await service.IsThisAUser(queryUser);
        if (usr == null)
        {
            // TODO add a cooldown
            return;
        }
        await service.UpdateUserOrgAsync(usr, _updateOrg);
        await Refresh();
    }

    private async Task DeleteUserFromMyOrganisation(Org org, string queryUser)
    {
        var usr = await service.IsThisAUser(queryUser);
        if (usr == null)
        {
            // TODO add a cooldown
            return;
        }
        await service.DeleteUserFromOrgAsync(UserEmail, org, usr);
        await Refresh();
    }

}
<!-- Debug iformation and
// TODO: remove debug info
-->
<h2>@UserEmail</h2>

<div class="container">
    <h2>Relations</h2>

    <div class="row bg-light">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Org Id</th>
                    <th>User Id</th>
                </tr>
            </thead>
            <tbody>
                @if (Relations.Any())
                {
                    @foreach (var product in Relations)
                    {
                        <tr>
                            <td>@product.OrgId</td>
                            <td>@product.UserId</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">
                            <strong>No Relations available</strong>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- Debug iformation ends here  -->

    <h2>Orgs</h2>

    <div class="row bg-light">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Org Id</th>
                    <th>AdminName</th>
                    <th>Unsubscribe drom Org</th>
                </tr>
            </thead>
            <tbody>
                @if (Orgs.Any())
                {
                    @foreach (var org in Orgs)
                    {
                        <tr @onclick="() => OrgSelected(org)">
                            <td>@org.Id</td>
                            <td>@org.AdminName</td>
                            <td>
                                <button class="btn btn-danger" @onclick="() => DeleteUserFromMyOrganisation(org, UserEmail)">Unsubscribe</button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">
                            <strong>No Orgs available</strong>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <h2>Users</h2>
    <div class="row bg-light">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>User Id</th>
                    <th>User Name</th>
                    @if (_updateOrg.AdminName == UserEmail)
                    {
                        <th>Delete User</th>
                    }
                </tr>
            </thead>
            <tbody>
                @if (Users.Any())
                {
                    @foreach (var user in Users)
                    {
                        <tr>
                            <td>@user.Id</td>
                            <td>@user.Name</td>
                            @if (@user.Name != UserEmail)
                            {
                                <td>
                                    <button class="btn btn-danger" @onclick="() => DeleteUserFromMyOrganisation(_updateOrg, user.Name)">Delete</button>
                                </td>
                            }
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">
                            <strong>No userToRemoves available</strong>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    <div class="col-5 bg-light m-2 justify-content-end">
        <div class="p-3 mb-1 bg-primary text-white text-center">Add Org to User</div>

        <EditForm Model="@OtherUserEmail">
            <div class="form-group">
                <label for="name">User Email</label>
                <input type="text" id="otheruseremail" class="form-control" @bind-value="@OtherUserEmail" />
            </div>

            <div class="text-center p-3 mb-3">
                <button class="btn btn-info" @onclick="() => AddUserToMyOrg(OtherUserEmail)"> Update Org</button>
            </div>
        </EditForm>
    </div>
</div>


